<footer class="lui-footer lui-footer-small lui-hide-sm lui-hide-xs" role="contentinfo">
    <div class="lui-footer-columns">
        <div class="nz-govt-logo" style="display: flex; align-items: center;">
            <a rel="noopener" href="http://www.govt.nz/" target="_blank"
                aria-label="New Zealand Government">
                <img src="{{ '/assets/images/nz-govt-logo-rev.svg' | relative_url }}" />
            </a>
        </div>
        <div class="justify-end">
            <ul class="lui-footer-list">
                <li class="lui-footer-inline-list-item">© 2021 Land Information New Zealand</li>
                <li class="lui-footer-inline-list-item">
                    <a rel="noopener" target="_blank"
                        href="https://www.linz.govt.nz/contact-us">Contact</a>
                </li>
                <li class="lui-footer-inline-list-item">
                    <a rel="noopener" target="_blank"
                        href="https://www.linz.govt.nz/privacy">Privacy</a>
                </li>
            </ul>
        </div>
    </div>
</footer>
