<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ '/assets/lui.css' | relative_url }}">
    <link rel="stylesheet" href="{{ '/assets/lui-override.css' | relative_url }}">
    <link rel="stylesheet" href="{{ '/assets/syntax.css' | relative_url }}">
    <link rel="icon" type="image/webp" sizes="113x103" href="{{ '/assets/images/favicon.webp' | relative_url }}">
</head>
